body
{
    background: lightblue;
    font-family: sans-serif, 'Times New Roman', Times, serif;   
}

.menu {
}

.title {
    text-align: center;
}

.list {
    display: table;
    margin: 0 auto;
}

.list li {
    margin: 8px 0;
    background-color: aquamarine;
    padding: 8px;
    font-size: 20px;
}